body {
    font-family: "Roboto", helvetica, serif;
    font-size: 12px;
    padding: 0;
}

.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
}

h1 {
    text-transform: uppercase;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

h2 {
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 0.5cm;
}

h3 {
    text-transform: uppercase;
    padding: 0;
    margin: 0.5cm 0 0.2cm;
}

h4 {
    text-transform: uppercase;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.sidebar {
    width: 6cm;
    min-height: 29.7cm;
    padding: 1cm 0.5cm 1cm 1cm;

    background-color: #4f4d54;
    color: white;
}

.sidebar-list > div {
    display: flex;
    flex-direction: row;
    margin-top: 0.05cm;
}

.sidebar-list div svg {
    width: 0.5cm;
    margin-right: 0.2cm;
}

.content {
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    margin-top: 1cm;
}

.content-list > div > div {
    display: flex;
    flex-direction: row;
}

.content-list > div > div > div:first-child {
    width: 1.2cm;
}

.content-list svg {
    margin-right: 0.2cm;
}

ul {
    padding: 0;
    margin: 0 0 0 10px;
}

.timeLine {
    border-left: 1px solid lightgray;
    padding-left: 0.2cm;
    margin-left: 0.2cm;
    margin-right: 0.2cm;
    padding-bottom: 0.2cm;
    width: 8.5cm;

    display: flex;
    flex-direction: column;
}

.timeLine::before {
    content: "";
    width: 0.05cm;
    height: 0.05cm;
    background-color: gray;
    border-radius: 999px;
    border: 3px solid gray;
    position: absolute;
    left: 8.95cm;
}

.timeLine > div:first-child {
    font-weight: bold;
}

img {
    border-radius: 50%;
    width: 5cm;
    height: 5cm;
    display: block;
    margin-bottom: 1cm;
}

.footer {
    padding-top: 0.5cm;
    font-size: 8px;
}