.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 0;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: row;
}

h1 {
    ffont-family: "Roboto", helvetica, serif;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: "Roboto", helvetica, serif;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 0.5cm;
}

h3 {
    font-family: "Roboto", helvetica, serif;
    text-transform: uppercase;
    padding: 0;
    margin: 0.5cm 0 0.2cm;
}

h4 {
    font-family: helvetica, serif;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.sidebar {
    width: 8cm;
    min-height: 29.7cm;
    padding: 1cm 0.5cm 1cm 1cm;

    background-color: #6f6f6f;
    color: white;
    font-family: "JetBrains Mono";
}

.sidebar-list div {
    display: flex;
    flex-direction: row;
    margin-top: 0.05cm;
}

.sidebar-list div svg {
    width: 0.5cm;
    margin-right: 0.5cm;
}

.content {
    margin-left: 0.5cm;
}

.content-list > div > div {
    display: flex;
    flex-direction: row;
}

.content-list svg {
    margin-right: 0.2cm;
}

.timeLine {
    border-left: 1px solid lightgray;
    padding-left: 0.5cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    padding-bottom: 0.3cm;
    width: 7cm;

    display: flex;
    flex-direction: column;
}

.timeLine::before {
    content: "";
    width: 0.1cm;
    height: 0.1cm;
    background-color: gray;
    border-radius: 999px;
    border: 3px solid gray;
    position: absolute;
    left: 15.05cm;
}

.timeLine > div:first-child {
    font-weight: bold;
}

img {
    border-radius: 50%;
    width: 5cm;
    height: 5cm;
    display: block;
}